


<footer class="container-fluid text-white px-0 d-none d-md-block">

  <!-- Spinner -->
  <ngx-spinner bdOpacity="0.9" bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff"
    type="ball-spin-clockwise">
  </ngx-spinner>

  <!-- Top Banner -->
  <div>
    <img src="../../../assets/templebackimage.webp"
      class="img-fluid w-100 footer-banner"
      alt="Banner">
  </div>

  <!-- Main Footer -->
  <div class="footer-main py-3 px-4">

    <div class="row">

      <!-- LEFT SIDE -->
      <div class="col-md-9">
        <div class="row">

        <!-- About Us -->
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-4">
          <h6 class="footer-title">About Us</h6>
          <ul class="list-unstyled diamond-list">
            <li><a routerLink="/vision/mision" (click)="navigatetovisionmission()">Our Mission</a></li>
            <li><a routerLink="/vision/mision" (click)="navigatetovisionmission()">Our Vision</a></li>
            <li><a routerLink="/aboutus" (click)="aboutus()">Our Team</a></li>
          </ul>
        </div>

        <!-- Other Platforms -->
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-4" translate="no">
          <h6 class="footer-title">Other Platforms</h6>
          <ul class="list-unstyled diamond-list">
            <li><a href="https://sanatanpulse.com" target="_blank">Sanatan Pulse</a></li>
            <li><a href="https://thehindusworld.com/home" target="_blank">Sanatan Jagat</a></li>
            <li><a href="https://omsanatana.com/home" target="_blank">Om Sanatana</a></li>
            <li><a href="https://gramautpad.com/home" target="_blank">Gramautpad</a></li>
          </ul>
        </div>

        <!-- Registrations -->
        <div class="col-12 col-sm-4 col-md-4 col-lg-6 mb-4">
          <h6 class="footer-title ">Registrations</h6>

          <ul class="list-unstyled diamond-list row row-cols-2 g-0">
            <li class="col"><a (click)="OpenPujariDilog()">Pujari / Purohit</a></li>
            <li class="col"><a (click)="openpoojastores()">Pooja Stores</a></li>
            <li class="col"><a (click)="OpenhospitalDilog()">Clinics / Hospitals</a></li>
            <li class="col"><a (click)="openvectinarynearbyhospitals()">Veterinary Hospitals</a></li>
            <li class="col"><a (click)="bloodbank()">Blood Banks</a></li>
            <li class="col"><a (click)="OpentouroperatorsDilog()">Tour Operators</a></li>
            <li class="col"><a (click)="OpenhotelDilog()">Hotels</a></li>
            <li class="col"><a (click)="OpenrestaurantDilog()">Restaurants</a></li>
          </ul>
        </div>





        </div>
      </div>

      <!-- RIGHT SIDE -->
      <div class="col-md-3 text-md-end text-center mt-4 mt-md-0">
        <h6 class="footer-title">Support Us</h6>
        <ul class="list-unstyled small">
          <li><a href="#">Overview</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

    </div>

    <!-- App + Social -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 mt-4">

      <!-- App -->
      <div class="d-flex align-items-center gap-3">
        <a href="https://play.google.com/store/apps/details?id=com.SathayushTechSolutions.gramadevata"
          target="_blank">
          <button class="btn btn-warning fw-bold">Download Mobile App</button>
        </a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
          height="40" alt="Google Play">
      </div>

      <!-- Social Icons -->
      <div class="d-flex flex-wrap gap-2 footer-social">
        <!-- Facebook -->
        <a href="https://www.facebook.com/people/Gramadevata/61576585084011/" target="_blank">
          <i class="bi bi-facebook"></i>
        </a>
        <!-- YouTube -->
        <a href="https://www.youtube.com/@gramadevata" target="_blank">
          <i class="bi bi-youtube"></i>
        </a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/gramadevata_foundation/" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
        <!-- WhatsApp -->
        <a href="https://web.whatsapp.com/send?text=https://gramadevata.com/home" target="_blank">
          <i class="bi bi-whatsapp"></i>
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/company/sathayush-tech-solutions/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>

    </div>
  </div>

  <!-- Bottom Bar -->
  <div class="footer-bottom px-4 py-2">
    <div class="row align-items-center">
      <div class="col-md-8">
        © 2026 <b>Gramadevata Foundation</b>. All rights reserved |
        <a href="#">Privacy Policy</a> |
        <a href="#">Terms & Conditions</a>
      </div>
      <div class="col-md-4 text-md-end">
        Designed & Developed by
        <a href="https://sathayushtech.com/" target="_blank"><b>Sathayush Tech Solutions</b></a>
      </div>
    </div>
  </div>

</footer>



<div class="pb-5 d-md-none" style="margin-top: 100px;">
  <nav class="navbar fixed-bottom bg-white border-top d-md-none shadow-sm mt-5" >
  <div class="container-fluid px-0 ">
    <div class="d-flex text-center w-100 flex-nowrap">

      <a href="#" class="flex-fill text-decoration-none text-dark py-1 d-flex flex-column align-items-center">
        <i class="fas fa-home fs-5"></i>
        <small>Home</small>
      </a>

      <a (click)="navigatevillage()" class="flex-fill text-decoration-none text-dark py-1 d-flex flex-column align-items-center">
        <i class="fas fa-map-marker-alt fs-5"></i>
        <small>Villages</small>
      </a>

      <a (click)="navigateToTempleFilters()" class="flex-fill text-decoration-none text-dark py-1 d-flex flex-column align-items-center">
        <i class="fas fa-gopuram fs-5"></i>
        <small>Temples</small>
      </a>

      <a (click)="navigateToGoshalaCategoryDetail()" class="flex-fill text-decoration-none text-dark py-1 d-flex flex-column align-items-center">
        <i class="fa-solid fa-cow fs-5"></i>
        <small>Goshalas</small>
      </a>

      <a (click)="navigateTonearesttourplaces()" class="flex-fill text-decoration-none text-dark py-1 d-flex flex-column align-items-center">
        <i class="fas fa-map fs-5"></i>
        <small>Tourism</small>
      </a>

      <a (click)="navigateTowelfarehomesfilters()" class="flex-fill text-decoration-none text-dark py-1 d-flex flex-column align-items-center ">
        <i class="bi bi-house-heart-fill fs-5 d-block lh-1 align-middle"></i>
        <small>Welfare</small>
      </a>

      <a (click)="navigateToEventsCategoryDetail()" class="flex-fill text-decoration-none text-dark py-1 d-flex flex-column align-items-center ">
        <i class="fa-solid fa-calendar-alt fs-5 "></i>
        <small>Events</small>
      </a>

      <button class="flex-fill btn p-0 border-0 bg-transparent text-dark py-1 d-flex flex-column align-items-center"
              data-bs-toggle="offcanvas"
              data-bs-target="#mobileMenu">
        <i class="fas fa-list fs-5"></i>
        <small>Reg</small>
      </button>

      <a href="#" class="flex-fill text-decoration-none text-dark py-1 d-flex flex-column align-items-center">
        <i class="fa-solid fa-handshake-angle fs-5"></i>
        <small>Support Us</small>
      </a>

    </div>
  </div>
</nav>
</div>





  <div class="offcanvas offcanvas-bottom h-50" tabindex="-1" id="mobileMenu">

    <div class="offcanvas-header border-bottom">
      <h6 class="offcanvas-title fw-bold">Registration</h6>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body d-flex align-items-end">
      <div class="container-fluid">
        <div class="row text-center g-3">

          <div class="col-4">
          <a (click)="OpenPujariDilog()" class="text-decoration-none text-dark d-block"
             data-bs-dismiss="offcanvas">
            <i class="bi bi-person-badge fs-4"></i>
            <div class="small mt-1">Pujari/Purohit</div>
          </a>
        </div>

          <div class="col-4">
            <a (click)="openpoojastores()" class="text-decoration-none text-dark" data-bs-dismiss="offcanvas">
              <i class="bi bi-shop fs-4"></i>
              <div class="small">Pooja Stores</div>
            </a>
          </div>

          <div class="col-4">
            <a (click)="OpenhospitalDilog()" class="text-decoration-none text-dark" data-bs-dismiss="offcanvas">
              <i class="bi bi-hospital fs-4"></i>
              <div class="small">Clincs/Hospitals</div>
            </a>
          </div>

          <div class="col-4">
            <a (click)="bloodbank()" class="text-decoration-none text-dark" data-bs-dismiss="offcanvas">
              <i class="bi bi-droplet-half fs-4"></i>
              <div class="small">Blood Banks</div>
            </a>
          </div>

          <div class="col-4">
            <a (click)="openvectinarynearbyhospitals()" class="text-decoration-none text-dark" data-bs-dismiss="offcanvas">
              <i class="bi bi-bug fs-4"></i>
              <div class="small">Veterinary Hospitals</div>
            </a>
          </div>

          <div class="col-4">
            <a (click)="OpenhotelDilog()" class="text-decoration-none text-dark" data-bs-dismiss="offcanvas">
              <i class="bi bi-building fs-4"></i>
              <div class="small">Hotels</div>
            </a>
          </div>

          <div class="col-4">
            <a (click)="OpenrestaurantDilog()" class="text-decoration-none text-dark" data-bs-dismiss="offcanvas">
              <i class="bi bi-cup-hot fs-4"></i>
              <div class="small">Restaurants</div>
            </a>
          </div>
          <div class="col-4">
          <a (click)="OpentouroperatorsDilog()" class="text-decoration-none text-dark d-block"
             data-bs-dismiss="offcanvas">
            <i class="bi bi-geo-alt fs-4"></i>
            <div class="small mt-1">Tour Operators</div>
          </a>
        </div>

        </div>
      </div>
    </div>

  </div>


































  <ng-template #poojastoresDialog>
  <div style="max-height: 90vh;overflow-y: auto;">


        <h5 class="mb-3 text-center mt-4">Register Pooja Store </h5>        
        <form [formGroup]="poojastoreForm"  class="px-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Pooja Store Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter the  Name" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="owner_name"> Owner Name</label>
                <input type="text" class="form-control" id="owner_name" formControlName="owener_name" placeholder="Enter the  Name" />
              </div>
            </div>
          </div>


          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" formControlName="address" placeholder="Enter the  Address" />
              </div>
            </div>
          </div>


          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="map_location"> Map Location (URL) *</label>
                <div class="input-group">
                  <input
                  type="url"
                  class="form-control"
                  id="map_location"
                  formControlName="map_location"
                  placeholder="https://example.com/map"
                />
                
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      (click)="getpoojastoreLocation()"
                      title="Fetch Current Location"
                    >
                      📍 Get Location
                    </button>
                  </div>
                </div>
                <small class="form-text text-muted">
                  Please provide a valid URL for the temple's map location.
                </small>
          
              </div>
            </div>
          </div>
          
   <div class="row" *ngIf="!InVillage">
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please select a country">
                <label for="country">Country*</label>
                <nz-select 
                  formControlName="country" 
                  nzPlaceHolder="Select country" 
                  [nzShowSearch]="true"
                  nzNotFoundContent="No data found"
                  >
                  <nz-option *ngFor="let option of templeCountryOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="state">State</label>
                
                <nz-select 
  formControlName="state" 
  nzPlaceHolder="Select state" 
  [nzShowSearch]="true" 
  nzNotFoundContent="No data found">
  <nz-option 
    *ngFor="let option of templeStateOptions" 
    [nzValue]="option.value" 
    [nzLabel]="option.label">
  </nz-option>
</nz-select>

              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="district">District</label>
                <nz-select formControlName="district" nzPlaceHolder="Select district" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeDistrictOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="mandal">Town/Mandal</label>
                <nz-select formControlName="mandal" nzPlaceHolder="Select mandal" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeMandalOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="village">Area/Village</label>
                <nz-select formControlName="village_id" nzPlaceHolder="Select Village" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                         >
                  <nz-option *ngFor="let option of templeVillageOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
          
          <div >
            <div class="row mt-2" >
              <label>Pooja Store Image </label>
              <div>
                <nz-upload
                  nzListType="picture-card"
                  [(nzFileList)]="bannerFileList"
                  [nzMultiple]="true"
                  [nzShowButton]="bannerFileList.length < 10"
                  (nzChange)="Uploadpoojastoreimage($event)"
                  [nzAccept]="'image/*'"
                  (nzRemove)="handleimageRemove()"
                >
                  <div >
                    <i nz-icon nzType="plus"></i>
                    Add Store Images
                  </div>
                </nz-upload>                  
              </div>
            </div>
          </div>
          
          
          
          
          
          <div class="text-center mb-3">
            <button type="button" (click)="Addpoojastore()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 10px;"> Submit </button>
          </div>
          </form>  
    </div>       
      </ng-template>



  



            <ng-template #BloodbankDialog>
               <div style="max-height: 90vh;overflow-y: auto;">
                <h5 class="mb-3 text-center mt-4">Register Blood Bank</h5>        
                <form [formGroup]="bloodbankForm"  class="px-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="name">Blood Bank Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter the  Blood Bank Name" />
                      </div>
                    </div>
                  </div>
                              <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="owner_name">Owner Name</label>
            <input type="text" class="form-control" id="owner_name" formControlName="owner_name" placeholder="Enter the Owner Name" />
          </div>
        </div>
      </div>

                        <!-- <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="blood_group">Blood Group</label>
                        <input type="text" class="form-control" id="blood_group" formControlName="blood_group" placeholder="Enter the Blood Group" />
                      </div>
                    </div>
                  </div> -->
              
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" formControlName="address" placeholder="Enter the  Address" />
                      </div>
                    </div>
                  </div>
              
              
                        <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="map_location"> Map Location (URL) *</label>
                            <div class="input-group">
                              <input
                              type="url"
                              class="form-control"
                              id="map_location"
                              formControlName="map_location"
                              placeholder="https://example.com/map"
                            />
                            
                              <div class="input-group-append">
                                <button
                                  type="button"
                                  class="btn btn-outline-secondary"
                                  (click)="getbloodbankLocation()"
                                  title="Fetch Current Location"
                                >
                                  📍 Get Location
                                </button>
                              </div>
                            </div>
                            <small class="form-text text-muted">
                              Please provide a valid URL for the temple's map location.
                            </small>
                      
                          </div>
                        </div>
                      </div>
                      


                        <div class="row" *ngIf="!InVillage">
                      <div class="col-md-4">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select a country">
                            <label for="country">Country*</label>
                            <nz-select 
                              formControlName="country" 
                              nzPlaceHolder="Select country" 
                              [nzShowSearch]="true"
                              nzNotFoundContent="No data found"
                              >
                              <nz-option *ngFor="let option of templeCountryOptions" 
                                        [nzValue]="option.value" 
                                        [nzLabel]="option.label">
                              </nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div class="col-md-4">
                        <nz-form-item>
                          <nz-form-control >
                            <label for="state">State</label>
                            
                            <nz-select 
              formControlName="state" 
              nzPlaceHolder="Select state" 
              [nzShowSearch]="true" 
              nzNotFoundContent="No data found">
              <nz-option 
                *ngFor="let option of templeStateOptions" 
                [nzValue]="option.value" 
                [nzLabel]="option.label">
              </nz-option>
            </nz-select>

                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div class="col-md-4">
                        <nz-form-item>
                          <nz-form-control >
                            <label for="district">District</label>
                            <nz-select formControlName="district" nzPlaceHolder="Select district" 
                                      [nzShowSearch]="true" nzNotFoundContent="No data found"
                                      >
                              <nz-option *ngFor="let option of templeDistrictOptions" 
                                        [nzValue]="option.value" 
                                        [nzLabel]="option.label">
                              </nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div class="col-md-4">
                        <nz-form-item>
                          <nz-form-control >
                            <label for="mandal">Town/Mandal</label>
                            <nz-select formControlName="mandal" nzPlaceHolder="Select mandal" 
                                      [nzShowSearch]="true" nzNotFoundContent="No data found"
                                      >
                              <nz-option *ngFor="let option of templeMandalOptions" 
                                        [nzValue]="option.value" 
                                        [nzLabel]="option.label">
                              </nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div class="col-md-4">
                        <nz-form-item>
                          <nz-form-control >
                            <label for="village">Area/Village</label>
                            <nz-select formControlName="village_id" nzPlaceHolder="Select Village" 
                                      [nzShowSearch]="true" nzNotFoundContent="No data found"
                                    >
                              <nz-option *ngFor="let option of templeVillageOptions" 
                                        [nzValue]="option.value" 
                                        [nzLabel]="option.label">
                              </nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                      
                      <div >
                        <div class="row mt-2" >
                          <label>Blood Bank Image </label>
                          <div>
                            <nz-upload
                              nzListType="picture-card"
                              [(nzFileList)]="bannerFileList"
                              [nzMultiple]="true"
                              [nzShowButton]="bannerFileList.length < 10"
                              (nzChange)="Uploadbllodbankimage($event)"
                              [nzAccept]="'image/*'"
                              (nzRemove)="handleimageRemove()"
                            >
                              <div >
                                <i nz-icon nzType="plus"></i>
                                Add Blood BAnk Images
                              </div>
                            </nz-upload>                  
                          </div>
                        </div>
                      </div>

              
              
              
              
              
                  <div class="text-center mb-3">
                    <button type="button" (click)="Addbloodbank()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 10px;"> Submit </button>
                  </div>
                </form>  
            </div>       
          </ng-template> 



  <ng-template #nearbyvetinaryhospitalsDialog>
     <div style="max-height: 90vh;overflow-y: auto;">
            <h5 class="mb-3 text-center mt-4">Add Veterinary Hospital</h5>        
            <form [formGroup]="veterinaryhospitalform"  class="px-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Hospital Name</label>
                  <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter the Hospital Name" />
                </div>
              </div>
            </div>

                              <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="owner_name">Owner Name</label>
            <input type="text" class="form-control" id="owner_name" formControlName="owner_name" placeholder="Enter the Owner Name" />
          </div>
        </div>
      </div>


                  <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="contact_number">Contact Number</label>
            <input type="text" class="form-control" id="contact_number" formControlName="contact_number" placeholder="Enter the Contact Number" />
          </div>
        </div>
      </div>
              <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Doctor Name</label>
                  <input type="text" class="form-control" id="name" formControlName="doctor_name" placeholder="Enter the Hospital Name" />
                </div>
              </div>
            </div>

                          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Description</label>
                  <textarea type="text" class="form-control" id="name" formControlName="desc" placeholder="Enter the Hospital Name" ></textarea>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" formControlName="address" placeholder="Enter the  Address" />
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="map_location"> Map Location (URL) *</label>
                  <div class="input-group">
                    <input
                    type="url"
                    class="form-control"
                    id="map_location"
                    formControlName="map_location"
                    placeholder="https://example.com/map"
                  />
                  
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="getveterinaryhospitalLocation()"
                        title="Fetch Current Location"
                      >
                        📍 Get Location
                      </button>
                    </div>
                  </div>
                  <small class="form-text text-muted">
                    Please provide a valid URL for the temple's map location.
                  </small>
            
                </div>
              </div>
            </div>
            


              <div class="row" *ngIf="!InVillage">
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please select a country">
                <label for="country">Country*</label>
                <nz-select 
                  formControlName="country" 
                  nzPlaceHolder="Select country" 
                  [nzShowSearch]="true"
                  nzNotFoundContent="No data found"
                  >
                  <nz-option *ngFor="let option of templeCountryOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="state">State</label>
                
                <nz-select 
  formControlName="state" 
  nzPlaceHolder="Select state" 
  [nzShowSearch]="true" 
  nzNotFoundContent="No data found">
  <nz-option 
    *ngFor="let option of templeStateOptions" 
    [nzValue]="option.value" 
    [nzLabel]="option.label">
  </nz-option>
</nz-select>

              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="district">District</label>
                <nz-select formControlName="district" nzPlaceHolder="Select district" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeDistrictOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="mandal">Town/Mandal</label>
                <nz-select formControlName="mandal" nzPlaceHolder="Select mandal" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeMandalOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="village">Area/Village</label>
                <nz-select formControlName="village_id" nzPlaceHolder="Select Village" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                         >
                  <nz-option *ngFor="let option of templeVillageOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div> 


            <div >
              <div class="row mt-2" >
                <label>Hospital Image</label>
                <div>
                  <nz-upload
                    nzListType="picture-card"
                    [(nzFileList)]="bannerFileList"
                    [nzMultiple]="true"
                    [nzShowButton]="bannerFileList.length < 10"
                    (nzChange)="Uploadtouroperatorimage($event)"
                    [nzAccept]="'image/*'"
                    (nzRemove)="handleimageRemove()"
                  >
                    <div >
                      <i nz-icon nzType="plus"></i>
                      Add Hospital Images
                    </div>
                  </nz-upload>                  
                </div>
              </div>
            </div>
            
            
            
            <div class="text-center mb-3">
              <button type="button" (click)="Addvetinaryhospital()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 10px;"> Submit </button>
            </div>
            </form> 
      </div>        
            </ng-template> 


<ng-template #touroperatorDialog>
   <div style="max-height: 80vh;overflow-y: auto;">
    <!-- <h5 class="mb-3 text-center mt-4">Register Tour Operator</h5>         -->

    <form [formGroup]="touroperatorForm"  class="px-4">
                                                 <div class="row align-items-center">
            <div class="col-10">
<h5 class="mb-3 mt-4 text-center">
Register Tour Operator
</h5>            </div>
            <div class="col-2 text-end">
                <button type="button" (click)="dialogRef.close()"style="
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 32px;
                        height: 32px;
                        border: none;
                        background: transparent;
                        font-size: 26px;
                        font-weight: bold;
                        cursor: pointer;
                        line-height: 32px;
                        text-align: center;"
                    title="Cancel"> × </button>
                </div>
            </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Operator Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="name" formControlName="tour_operator_name" placeholder="Enter the Operator Name" [class.is-invalid]="touroperatorForm.get('tour_operator_name')?.touched && touroperatorForm.get('tour_operator_name')?.invalid" (keydown)="preventLeadingSpace($event)" (keydown)="validateNameInput($event)"/>
          </div>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="address">Address <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="address" formControlName="contact_address" placeholder="Enter the  Address" [class.is-invalid]="touroperatorForm.get('contact_address')?.touched && touroperatorForm.get('contact_address')?.invalid" (keydown)="preventLeadingSpace($event)" (keydown)="validateNameInput($event)" />
          </div>
        </div>
      </div>

 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Mobile Number <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="name" formControlName="mobile_number" placeholder="Enter the  Mobile Number" [class.is-invalid]="touroperatorForm.get('mobile_number')?.touched && touroperatorForm.get('mobile_number')?.invalid" (keydown)="preventLeadingSpace($event)" (keydown)="validateNameInput($event)"/>
          </div>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">Email <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter the  Email" [class.is-invalid]="touroperatorForm.get('email')?.touched && touroperatorForm.get('email')?.invalid" (keydown)="preventLeadingSpace($event)" />
          </div>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="website">Website </label>
            <input type="text" class="form-control" id="website" formControlName="website" placeholder="Enter the  Website" [class.is-invalid]="touroperatorForm.get('website')?.touched && touroperatorForm.get('website')?.invalid" (keydown)="preventLeadingSpace($event)"/>
          <div *ngIf="touroperatorForm.get('website')?.invalid 
            && touroperatorForm.get('website')?.touched"
     class="text-danger">

  <div *ngIf="touroperatorForm.get('website')?.errors?.['pattern']">
    Please enter a valid URL starting with http:// or https://
  </div>

</div>

          </div>

        </div>
      </div>
 
 
   <div class="row" *ngIf="!InVillage">
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please select a country">
                <label for="country">Country <span class="text-danger">*</span></label>
                <nz-select 
                  formControlName="country" 
                  nzPlaceHolder="Select country" 
                  [nzShowSearch]="true"
                  nzNotFoundContent="No data found"
                  >
                  <nz-option *ngFor="let option of templeCountryOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="state">State</label>
                
                <nz-select 
  formControlName="state" 
  nzPlaceHolder="Select state" 
  [nzShowSearch]="true" 
  nzNotFoundContent="No data found"
  >
  <nz-option 
    *ngFor="let option of templeStateOptions" 
    [nzValue]="option.value" 
    [nzLabel]="option.label">
  </nz-option>
</nz-select>

              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="district">District</label>
                <nz-select formControlName="district" nzPlaceHolder="Select district" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                         >
                  <nz-option *ngFor="let option of templeDistrictOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="mandal">Town/Mandal</label>
                <nz-select formControlName="mandal" nzPlaceHolder="Select mandal" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeMandalOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="village">Area/Village</label>
                <nz-select formControlName="village_id" nzPlaceHolder="Select Village" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeVillageOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div> 
             <div >
              <div class="row mt-2" >
                <label>Operator Image <span class="text-danger">*</span></label>
                <div>
                  <nz-upload
                    nzListType="picture-card"
                    [(nzFileList)]="bannerFileList"
                    [nzMultiple]="true"
                    [nzShowButton]="bannerFileList.length < 10"
                    (nzChange)="Uploadtouroperatorimage($event)"
                    [nzAccept]="'image/*'"
                    (nzRemove)="handleimageRemove()"
                  >
                    <div >
                      <i nz-icon nzType="plus"></i>
                      Add Operator Images
                    </div>
                  </nz-upload>                  
                </div>
                <div *ngIf="touroperatorForm.get('image_location')?.touched && touroperatorForm.get('image_location')?.invalid" class="text-danger">
                  Please upload operator image
                </div>
              </div>
            </div>
 
      <!-- <div class="text-center mb-3">
        <button type="button" (click)="Addtouroperator()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 10px;"> Submit </button>
      </div> -->
                                                  <div class="row mt-3 pb-4">
  <div class="col-12">
    <div class="d-flex flex-column flex-sm-row justify-content-center gap-3">

      <!-- Cancel Button -->
      <button
        type="button"
        (click)="dialogRef.close()"
        class="btn btn-secondary px-4 py-2 rounded-pill"
      >
        Cancel
      </button>

      <!-- Submit Button -->
      <button
        type="button"
        (click)="Addtouroperator()"
        class="btn px-4 py-2 rounded-pill text-white"
        style="background-color: rgb(241, 124, 15);"
      >
        Submit
      </button>

    </div>
  </div>
</div>
    </form>  
    </div>      
  </ng-template>



<ng-template #tourguideDialog>
   <div style="max-height: 90vh;overflow-y: auto;">
        <h5 class="mb-3 text-center mt-4">Register Tour Guide</h5>        
        <form [formGroup]="tourguideForm"  class="px-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="tourist_spot_covered">Tourist Spot Covered</label>
              <input type="text" class="form-control" id="tourist_spot_covered" formControlName="tourist_spot_covered" placeholder="Enter the  Tourist Spot Covered" />
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="address">Language</label>
              <input type="text" class="form-control" id="address" formControlName="language" placeholder="Enter the  Language" />
            </div>
          </div>
        </div>
        
        
        
        
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Mobile Number</label>
              <input type="number" class="form-control" id="name" formControlName="mobile" placeholder="Enter the  Mobile Number" />
            </div>
          </div>
        </div>
        
        
        
        <div class="row" *ngIf="!InVillage">
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please select a country">
                <label for="country">Country*</label>
                <nz-select 
                  formControlName="country" 
                  nzPlaceHolder="Select country" 
                  [nzShowSearch]="true"
                  nzNotFoundContent="No data found"
                  >
                  <nz-option *ngFor="let option of templeCountryOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="state">State</label>
                
                <nz-select 
  formControlName="state" 
  nzPlaceHolder="Select state" 
  [nzShowSearch]="true" 
  nzNotFoundContent="No data found">
  <nz-option 
    *ngFor="let option of templeStateOptions" 
    [nzValue]="option.value" 
    [nzLabel]="option.label">
  </nz-option>
</nz-select>

              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="district">District</label>
                <nz-select formControlName="district" nzPlaceHolder="Select district" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeDistrictOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="mandal">Town/Mandal</label>
                <nz-select formControlName="mandal" nzPlaceHolder="Select mandal" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeMandalOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="village">Area/Village</label>
                <nz-select formControlName="village_id" nzPlaceHolder="Select Village" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeVillageOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div> 

        
        <div class="text-center mb-3">
          <button type="button" (click)="Addtyourtourguide()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 10px;"> Submit </button>
        </div>

        </form> 
        </div>        
        </ng-template>