.container {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* margin-top: 8%; */
  margin-bottom: 30px;
}

/* @media (max-width: 1024px) {
  .container {
    margin-top: 10%;
  }
}

@media (max-width: 801px) {
  .container {
    margin-top: 10vh;
  }
} */

/* .chat-box {
  flex-grow: 1;
  height: 470px; 
  max-height: 470px;
  overflow-y: auto;
  background-color: #f8f9fa; 
  border-radius: 5px;
}

.tab-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.input-box {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background: #fff;
} */
.nav-tabs .nav-link.active {
  background-color: #ffc107;  
  color: #000 !important;     
  border-color: #ffc107 #ffc107 #fff;
}
#village-tab.nav-link.active {
  background-color: #28a745; 
  color: white !important;
  border-color: #28a745 #28a745 #fff;
}