
   <!-- <div style="max-height: 80vh;overflow-y: auto;"> -->
                        <div class=""
     style="max-height: calc(80vh - 10px);
            overflow-y: auto;
            margin-top: 10px;
            margin-bottom: 10px;">
    <!-- <h5 class="mb-3 text-center mt-4">Register Tour Operator</h5>         -->

    <form [formGroup]="touroperatorForm"  class="px-4">
                                                 <div class="row align-items-center">
            <div class="col-10">
<h5 class="mb-3 mt-4 text-center">
Register Tour Operator
</h5>            </div>
            <div class="col-2 text-end">
                <button type="button" (click)="dialogRef.close()"style="
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 32px;
                        height: 32px;
                        border: none;
                        background: transparent;
                        font-size: 26px;
                        font-weight: bold;
                        cursor: pointer;
                        line-height: 32px;
                        text-align: center;"
                    title="Cancel"> × </button>
                </div>
            </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Operator Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="name" formControlName="tour_operator_name" placeholder="Enter the Operator Name" [class.is-invalid]="touroperatorForm.get('tour_operator_name')?.touched && touroperatorForm.get('tour_operator_name')?.invalid" (keydown)="preventLeadingSpace($event)" (keydown)="validatenumberInput($event)"/>
          </div>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="address">Address <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="address" formControlName="contact_address" placeholder="Enter the  Address" [class.is-invalid]="touroperatorForm.get('contact_address')?.touched && touroperatorForm.get('contact_address')?.invalid" (keydown)="preventLeadingSpace($event)" (keydown)="validateNameInput($event)" />
          </div>
        </div>
      </div>

 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Mobile Number <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="name" formControlName="mobile_number" placeholder="Enter the  Mobile Number" maxlength="10" inputmode="numeric" (input)="onlyNumbers($event)" [class.is-invalid]="touroperatorForm.get('mobile_number')?.touched && touroperatorForm.get('mobile_number')?.invalid" (keydown)="preventLeadingSpace($event)" (keydown)="validateNameInput($event)"/>
          </div>
                                        <div
                        *ngIf="
                          touroperatorForm.get('mobile_number')?.invalid &&
                          (touroperatorForm.get('mobile_number')?.dirty || touroperatorForm.get('mobile_number')?.touched)
                        "
                        class="text-danger"
                      >

                        <div *ngIf="touroperatorForm.get('mobile_number')?.errors?.['pattern']">
                          Contact Number must be a 10-digit number
                        </div>
                      </div>
        </div>
      </div>
 
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">Email <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter the  Email" [class.is-invalid]="touroperatorForm.get('email')?.touched && touroperatorForm.get('email')?.invalid" (keydown)="preventLeadingSpace($event)" />
          </div>
          
        </div>
      </div> -->
        <div class="row">
    <div class="col-md-12">
      <div class="form-group mb-3">

        <label>Email <span class="text-danger">*</span></label>

        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Enter Email"
          (blur)="touroperatorForm.get('email')?.markAsTouched()"
          [class.is-invalid]="
            touroperatorForm.get('email')?.invalid &&
            touroperatorForm.get('email')?.touched
          "
        />

        <!-- Error Message -->
        <div *ngIf="touroperatorForm.get('email')?.invalid && touroperatorForm.get('email')?.touched">

          <small class="text-danger"
            *ngIf="touroperatorForm.get('email')?.errors?.['required']">
            Email is required
          </small>

          <small class="text-danger"
            *ngIf="touroperatorForm.get('email')?.errors?.['pattern']">
            Enter valid email format example&#64;gmail.com
          </small>

        </div>

      </div>
    </div>
  </div>


 
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="website">Website </label>
            <input type="text" class="form-control" id="website" formControlName="website" placeholder="Enter the  Website" [class.is-invalid]="touroperatorForm.get('website')?.touched && touroperatorForm.get('website')?.invalid" (keydown)="preventLeadingSpace($event)"/>
          <div *ngIf="touroperatorForm.get('website')?.invalid 
            && touroperatorForm.get('website')?.touched"
     class="text-danger">

  <div *ngIf="touroperatorForm.get('website')?.errors?.['pattern']">
    Please enter a valid URL starting with http:// or https://
  </div>

</div>

          </div>

        </div>
      </div>
 
 
   <div class="row" *ngIf="!InVillage">
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please select a country">
                <label for="country">Country <span class="text-danger">*</span></label>
                <nz-select 
                  formControlName="country" 
                  nzPlaceHolder="Select country" 
                  [nzShowSearch]="true"
                  nzNotFoundContent="No data found"
                  >
                  <nz-option *ngFor="let option of templeCountryOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="state">State</label>
                
                <nz-select 
  formControlName="state" 
  nzPlaceHolder="Select state" 
  [nzShowSearch]="true" 
  nzNotFoundContent="No data found"
  >
  <nz-option 
    *ngFor="let option of templeStateOptions" 
    [nzValue]="option.value" 
    [nzLabel]="option.label">
  </nz-option>
</nz-select>

              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="district">District</label>
                <nz-select formControlName="district" nzPlaceHolder="Select district" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                         >
                  <nz-option *ngFor="let option of templeDistrictOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="mandal">Town/Mandal</label>
                <nz-select formControlName="mandal" nzPlaceHolder="Select mandal" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeMandalOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control >
                <label for="village">Area/Village</label>
                <nz-select formControlName="village_id" nzPlaceHolder="Select Village" 
                          [nzShowSearch]="true" nzNotFoundContent="No data found"
                          >
                  <nz-option *ngFor="let option of templeVillageOptions" 
                            [nzValue]="option.value" 
                            [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div> 
             <div >
              <div class="row mt-2" >
                <label>Operator Image <span class="text-danger">*</span></label>
                <div>
                  <nz-upload
                    nzListType="picture-card"
                    [(nzFileList)]="bannerFileList"
                    [nzMultiple]="true"
                    [nzShowButton]="bannerFileList.length < 10"
                    (nzChange)="Uploadtouroperatorimage($event)"
                    [nzAccept]="'image/*'"
                    (nzRemove)="handleimageRemove()"
                  >
                    <div >
                      <i nz-icon nzType="plus"></i>
                      Add Operator Images
                    </div>
                  </nz-upload>                  
                </div>
                <div *ngIf="touroperatorForm.get('image_location')?.touched && touroperatorForm.get('image_location')?.invalid" class="text-danger">
                  Please upload operator image
                </div>
              </div>
            </div>
 
      <!-- <div class="text-center mb-3">
        <button type="button" (click)="Addtouroperator()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 10px;"> Submit </button>
      </div> -->
                                                  <div class="row mt-3 pb-4">
  <div class="col-12">
    <div class="d-flex flex-column flex-sm-row justify-content-center gap-3">

      <!-- Cancel Button -->
      <button
        type="button"
        (click)="dialogRef.close()"
        class="btn btn-secondary px-4 py-2 rounded-pill"
      >
        Cancel
      </button>

      <!-- Submit Button -->
      <button
        type="button"
        (click)="Addtouroperator()"
        class="btn px-4 py-2 rounded-pill text-white"
        style="background-color: rgb(241, 124, 15);"
      >
        Submit
      </button>

    </div>
  </div>
</div>
    </form>  
    </div>      
