<meta property="og:title" content="Temple Sharing" />
<meta property="og:description" content="Discover amazing temples with us!" />
<meta property="og:image" content="https://yourwebsite.com/default-image.png" />
<meta property="og:url" content="https://yourwebsite.com" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Temple Sharing" />
<meta name="twitter:description" content="Discover amazing temples with us!" />
<meta name="twitter:image" content="https://yourwebsite.com/default-image.png" />

